.env
__pycache__
**__pycache__
.vscode
*workspace*

samples/*
desktop.ini
logs/*

test*

results/*
outputs/*

costing*.csv
src/models/openaiapi.py
src/models/geminiapi.py
src/models/groqapi.py

*.bat

temp.bat

runs
src/models/deepseekapi.py
